<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Sign in | ITF-log4shell-vulnapp</title>
</head>
<body>
<div class="container justify-content-center">
    <div class="card mt-5">
        <div class="card-body">
            <img src="/static/img/itf.jpg" style="width:100%">
            <hr>
            <h3 class="card-title">Sign in</h3>
            <form action="/signin" method="post" class="form-group">
                <input type="text" name="username" class="form-control mb-3" placeholder="Username" required>
                <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
                <input type="submit" class="btn btn-primary" value="Sign in">
            </form>
        </div>
    </div>
</div>
</body>
</html>